<%= form_tag team_path(@team), :method => :put do %>
  <div class="container">
    <h1>Change up your team </h1>
    <%= text_field_tag "team[name]", @team.name %>
    <br>
    <input type="submit" value="Update Team">
  </div>
<div class="container">
  <%= render partial: "player_cards", collection: @players, as: :player %>
</div>
<% end %>
