<style media="screen">
  .form-button {
    font-size: 14pt;
  }
</style>

<%= form_tag teams_path do %>
  <div class="container">
    <div class="team-form-container">
      <h1>Create a team of five</h1>
      <input type="text" name="team[name]" placeholder="Team Name" class="form-field">
      <input type="submit" value="Create Team" class="form-button" style="margin: 20px 0 0 20px; width: 150px;" id="<%= 'error-button' if flash[:message] %>">
      <div style="display: inline-block; margin-left: 20px; color: red; font-size: 14pt; width: 200px; height: 52px; text-align: center; position: relative; top: 10px;">
        <%= flash[:message] %>
      </div>
    </div>
  </div>
<div class="container">
  <%= render partial: "player_cards", collection: @players, as: :player %>
</div>
<% end %>
