table.game-results {
  width: 500px;
  border-collapse: collapse;
}

table.game-results, table.game-results td, table.game-results th {
  border: solid thin #9370DB;
  padding: 5px;
}

table .player {
  text-align: left;
}

table.game-results th {
  background-color: #9370DB;
  color: white;
}

td.number {
  text-align: center;
}

.team-results-container {
  margin: 0 auto;
}

.team-results {
  display: inline-block;
  text-align: center;
  margin: 0 20px;
}

.game-scorecard {
  display: inline-block;
  padding: 10px 5px;
  width: 260px;
  border: solid thin black;
  margin: 25px 0 0 25px;
  text-decoration: none;
}

.game-scorecard a:link {
  text-decoration: none;
}

.game-scorecard div {
  margin: 5px 5px 0 5px;
  color: black;
}

.game-scorecard div.team-score {
  display: inline-block;
}

.game-scorecard div.date {
  font-size: 10pt;
  color: grey;
  font-style: italic;
  height: auto;
  width: auto;
}

.game-scorecard div.score {
  font-size: 16pt;
  font-weight: bold;
  color: #9370DB;
  height: auto;
  margin: 10px 0;
}
