.container {
  width: 925px;
  margin: 0 auto;
}

.card-container {
display: inline-block;
margin: 25px 0 0 25px;
position: relative;
}

.card-hover:hover {
box-shadow: 1px 2px 4px lightgrey;
}

.card-container input[type=checkbox] {
opacity: 0;
position: absolute;
top: 5px;
left: 5px;
}

.card-container input[type=checkbox]:checked ~ .card:first-of-type {
border-color: #9370DB;
}

.card-container input[type=checkbox]:checked ~ .card:first-of-type div.card-title-container {
color: white;
background-color: #9370DB;
}

.card-container input[type=checkbox]:checked ~ .card:first-of-type td {
border-color: #9370DB;
}

.card {
border: solid thin lightgrey;
width: 150px;
border-radius: 3px;
}

label.card-label {
z-index: 2;
position: absolute;
top: 0;
left: 0;
display: block;
width: 150px;
height: 100%;
}

.card-content {
width: 150px;
height: 100%;
text-align: center;
}

div.card-title-container:first-of-type {
background-color: lightgrey;
display: table;
height: 60px;
width: 100%;
}

div.card-title-container:first-of-type div.card-title {
display: table-cell;
vertical-align: middle;
}

table.card-table td {
padding: 2px;
border-bottom: 1px solid #ddd;
}

table.card-table td.last {
border-bottom: none;
}

table.card-table {
width: 100%;
border-collapse: collapse;
}
