<style media="screen">
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    49% {
      transform: rotate(360deg);
    }
    50% {
      transform: translateY(0px) scale(1);
    }
    100% {
      transform: translateY(400px) scale(0.3);
    }
  }

  #basketball {
    animation: spin 3s linear infinite;
  }

  .basket {
    z-index: 2;
  }

  .basketball-container {
    padding: 30px;
    width: 400px;
    margin: 0 auto;
  }

  img {
    position: relative;
  }
</style>

<div class="basketball-container">
  <center>
    <%= image_tag asset_path('basketball.png'), id: "basketball", size: "250" %>
  </center>
  <center style="z-index: 10;">
    <%= image_tag asset_path('basketball-basket.png'), class: "basket", size: "300x217" %>
  </center>
</div>
